
Привет, Хабр! Представляю вашему вниманию перевод статьи <a href="https://forums.swift.org/t/pitch-property-delegates/21895" title="Swift Property Wrappers">Swift Property Wrappers</a> автора <a href="https://nshipster.com/authors/mattt/" title="Mattt">Mattt</a>.

<a href="https://nshipster.com/propertywrapper/#changing-synthesized-equality-and-comparison-semantics">https://nshipster.com/propertywrapper/#changing-synthesized-equality-and-comparison-semantics</a>

Property wrappers были впервые представлены на форумах <a href="https://forums.swift.org/t/pitch-property-delegates/21895" title="Swift">Swift</a> еще в марте 2019 года, за несколько месяцев до объявления SwiftUI. В своем первоначальном предложении член Swift Core Team Douglas Gregor описал эту фичу (тогда она называлась «property delegates») как доступное пользователю обобщение функциональности, в настоящее время предоставляемой такими языковыми конструкциями, как, например, <code>lazy</code>.

Если свойство объявлено с ключевым словом <code>lazy</code>, это значит, что оно будет инициализировано при первом обращении к нему. Например, отложенную инициализацию свойства можно было бы реализовать с помощью закрытого свойства, доступ к которому осуществляется через вычисляемое свойство. Но с помощью ключевого слова <code>lazy</code> это сделать гораздо легче.


<source lang="swift">struct Structure {
    // Отложенная инициализация свойства с помощью lazy
    lazy var deferred = …

    // Аналогичная реализация с помощью закрытого и вычисляемого свойства
    private var _deferred: Type?
    var deferred: Type {
        get {
            if let value = _deferred { return value }
            let initialValue = …
            _deferred = initialValue
            return initialValue
        }

        set {
            _deferred = newValue
        }
    }
}</source>
В <a href="https://github.com/apple/swift-evolution/blob/master/proposals/0258-property-wrappers.md" title="SE-0258: Property Wrappers">SE-0258: Property Wrapper</a> отлично объясняется дизайн и реализация Property Wrappers. Поэтому вместо того, чтобы пытаться улучшить описание в официальной документации, рассмотрим несколько примеров, которые можно реализовать с помощью Property Wrappers:

<ul>
<li>Ограничение значений свойств</li>
<li>Преобразование значений при изменении свойств</li>
<li>Изменение семантики равенства и сравнения свойств</li>
<li>Логирование доступа к свойству</li>
</ul><anchor>oghranichieniie-znachienii-svoistv</anchor>
<a href="#oghranichieniie-znachienii-svoistv"><h3>Ограничение значений свойств</h3></a>
<a href="https://github.com/apple/swift-evolution/blob/master/proposals/0258-property-wrappers.md" title="SE-0258">SE-0258: Property Wrapper</a> приносит несколько практических примеров, включаяя <code>@Clamping</code>, <code>@Copying</code>, <code>@Atomic</code>, <code>@ThreadSpecific</code>, <code>@Box</code>, <code>@UserDefault</code>. Рассмотрим <code>@Clamping</code> Property Wrapper, которое позволяет ограничить максимальное/минимальное значение свойства. 


<source lang="swift">@propertyWrapper
struct Clamping<Value: Comparable> {
    var value: Value
    let range: ClosedRange<Value>

    init(initialValue value: Value, _ range: ClosedRange<Value>) {
        precondition(range.contains(value))
        self.value = value
        self.range = range
    }

    var wrappedValue: Value {
        get { value }
        set { value = min(max(range.lowerBound, newValue), range.upperBound) }
    }
}</source>
<code>@Clamping</code> можно использовать, например, для моделирования кислотности раствора, величина которой может принимать значение от 0 до 14.


<source lang="swift">struct Solution {
    @Clamping(0...14) var pH: Double = 7.0
}

let carbonicAcid = Solution(pH: 4.68)</source>
Попытка установить значение pH, выходящее за диапазон от <code>(0...14)</code> приведёт к тому, что свойство примет ближайшее к минимуму или максимуму интервала значение 


<source lang="swift">let superDuperAcid = Solution(pH: -1)
superDuperAcid.pH // 0</source>
Property wrappers могут использоваться при реализации других Property wrappers. Например <code>@UnitInterval</code> Property wrapper ограничивает значение свойства интервалом <code>(0...1)</code> используя <code>@Clamping(0...1)</code>


<source lang="swift">@propertyWrapper
struct UnitInterval<Value: FloatingPoint> {
    @Clamping(0...1)
    var wrappedValue: Value = .zero

    init(initialValue value: Value) {
        self.wrappedValue = value
    }
}</source><anchor>pokhozhiie-idiei</anchor>
<a href="#pokhozhiie-idiei"><h2>Похожие идеи</h2></a>
<ul>
<li><code>@Positive</code> / <code>@NonNegative</code>, указывающее, что значение может быть либо положительным, либо отрицательным числом</li>
<li><code>@NonZero</code>, указывающее, что значение свойства не может быть равно 0</li>
<li><code>@Validated</code> или <code>@Whitelisted</code> / <code>@Blacklisted</code>, ограничивающее значение свойства определенными значениями</li>
</ul><anchor>prieobrazovaniie-znachienii-pri-izmienienii-svoistv</anchor>
<a href="#prieobrazovaniie-znachienii-pri-izmienienii-svoistv"><h3>Преобразование значений при изменении свойств</h3></a>
Валидация значений текстовых полей это постоянная головная боль разработчиков приложений. Существует очень много вещей, которые нужно отслеживать: от банальностей типа кодировки до злонамеренных попыток ввести код через текстовое поле. Рассмотрим применение Property Wrappers для удаления пробелов в начале и в конце строки, которую ввёл пользователь. 


<source lang="swift">import Foundation

let url = URL(string: " https://habrahabr.ru") // nil

let date = ISO8601DateFormatter().date(from: " 2019-06-24") // nil

let words = " Hello, world!".components(separatedBy: .whitespaces)
words.count // 3</source>
<code>Foundation</code> предлагает метод <code>trimmingCharacters(in:)</code>, с помощью которого можно удалить пробелы в начале и в конце строки. Можно вызывать этот метод всегда, когда нужно гарантировать правильность ввода, но это не очень удобно. Для этого можно использовать Property Wrappers.


<source lang="swift">import Foundation

@propertyWrapper
struct Trimmed {
    private(set) var value: String = ""

    var wrappedValue: String {
        get { value }
        set { value = newValue.trimmingCharacters(in: .whitespacesAndNewlines) }
    }

    init(initialValue: String) {
        self.wrappedValue = initialValue
    }
}</source>
Помечая каждое свойство атрибутом <code>@Trimmed</code> любое строковое значение, присвоенное свойствам <code>title</code> или <code>body</code>


<source lang="swift">struct Post {
    @Trimmed var title: String
    @Trimmed var body: String
}

let quine = Post(title: "  Swift Property Wrappers  ", body: "…")
quine.title // "Swift Property Wrappers" - без пробелов в начале и в конце

quine.title = "      @propertyWrapper     "
quine.title // "@propertyWrapper"</source><anchor>pokhozhiie-1</anchor>
<a href="#pokhozhiie-1"><h2>Похожие идеи</h2></a>
<ul>
<li><code>@Transformed</code> которое применяет <a href="https://developer.apple.com/documentation/foundation/nsstring/1407787-applyingtransform" title="ICU-преобразование">ICU-преобразование</a> к введённой строке</li>
<li><code>@Rounded</code> / <code>@Truncated</code> которое округляет\урезает значение строки</li>
</ul><anchor>izmienieniie-siemantiki-ravienstva-i-sravnieniia-svoistv</anchor>
<a href="#izmienieniie-siemantiki-ravienstva-i-sravnieniia-svoistv"><h3>Изменение семантики равенства и сравнения свойств</h3></a>
В Swift две строки равны, если они <a href="https://unicode.org/reports/tr15/#Canon_Compat_Equivalence" title="канонично эквивалентны">канонично эквивалентны</a>: если строки содержит одинаковые символы, то они равны. Но допустим, мы хотим, чтобы строковые свойства были равны без учета регистра символов, которые они содержат.

<code>@CaseInsensitive</code> реализует оболочку для свойств, имеющих тип <code>String</code> или <code>SubString</code>.


<source lang="swift">import Foundation

@propertyWrapper
struct CaseInsensitive<Value: StringProtocol> {
    var wrappedValue: Value
}

extension CaseInsensitive: Comparable {
    private func compare(_ other: CaseInsensitive) -> ComparisonResult {
        wrappedValue.caseInsensitiveCompare(other.wrappedValue)
    }

    static func == (lhs: CaseInsensitive, rhs: CaseInsensitive) -> Bool {
        lhs.compare(rhs) == .orderedSame
    }

    static func < (lhs: CaseInsensitive, rhs: CaseInsensitive) -> Bool {
        lhs.compare(rhs) == .orderedAscending
    }

    static func > (lhs: CaseInsensitive, rhs: CaseInsensitive) -> Bool {
        lhs.compare(rhs) == .orderedDescending
    }
}</source>

<source lang="swift">let hello: String = "hello"
let HELLO: String = "HELLO"

hello == HELLO // false
CaseInsensitive(wrappedValue: hello) == CaseInsensitive(wrappedValue: HELLO) // true</source><anchor>pokhozhiie-2</anchor>
<a href="#pokhozhiie-2"><h2>Похожие идеи</h2></a>
<ul>
<li><code>@Approximate</code> для приблизительного сравнения свойств, имеющих тип Double или Float</li>
<li><code>@Ranked</code> для свойств, значения которых имеют порядок (например, ранг игральных карт)</li>
</ul><anchor>loghirovaniie-dostupa-k-svoistvu</anchor>
<a href="#loghirovaniie-dostupa-k-svoistvu"><h3>Логирование доступа к свойству</h3></a>
<code>@Versioned</code> позволит перехватывать присвоенные значения и запоминать, когда они были установлены


<source lang="swift">import Foundation

@propertyWrapper
struct Versioned<Value> {
    private var value: Value
    private(set) var timestampedValues: [(Date, Value)] = []

    var wrappedValue: Value {
        get { value }

        set {
            defer { timestampedValues.append((Date(), value)) }
            value = newValue
        }
    }

    init(initialValue value: Value) {
        self.wrappedValue = value
    }
}</source>
Класс <code>ExpenseReport</code> позволяет сохранить временные метки состояний обработки отчета о расходах.


<source lang="swift">class ExpenseReport {
    enum State { case submitted, received, approved, denied }

    @Versioned var state: State = .submitted
}</source>
Но пример выше демонстрирует серьезное ограничение в текущей реализации Property Wrappers, которое вытекает из ограничения Swift: свойства не могут генерировать исключения. Если бы мы хотели добавить в <code>@Versioned</code> ограничение для предотвращения изменения значения на <code>.approved</code> после того, как оно приняло значения <code>.denied</code>, то наилучший вариант - <code>fatalError()</code>, который плохо подходит для реальных приложений.


<source lang="swift">class ExpenseReport {
    @Versioned var state: State = .submitted {
        willSet {
            if newValue == .approved,
                $state.timestampedValues.map { $0.1 }.contains(.denied)
            {
                fatalError("Ошибка")
            }
        }
    }
}

var tripExpenses = ExpenseReport()
tripExpenses.state = .denied
tripExpenses.state = .approved // Fatal error: "Ошибка" и крэш приложения</source><anchor>pokhozhiie-3</anchor>
<a href="#pokhozhiie-3"><h2>Похожие идеи</h2></a>
<ul>
<li><code>@Audited</code> для логирования доступа к свойству</li>
<li><code>@UserDefault</code> для инкапсулирования механизма чтения и сохранения данных в <code>UserDefaults</code></li>
</ul><anchor>oghranichieniia</anchor>
<a href="#oghranichieniia"><h3>Ограничения</h3></a><anchor>svoistva-nie-moghut-ghienierirovat-iskliuchieniia</anchor>
<a href="#svoistva-nie-moghut-ghienierirovat-iskliuchieniia"><h2>Свойства не могут генерировать исключения</h2></a>
Как уже было сказано выше, Property Wrappers могут использовать лишь несколько методов обработки недопустимых значений

<ul>
<li>Игнорировать их</li>
<li>Завершение работы приложения при помощи fatalError()</li>
</ul><anchor>svoistva-imieiushchiie-property-wrappers-nie-moghut-byt-pomiechieny-atributom-code-typealias-code</anchor>
<a href="#svoistva-imieiushchiie-property-wrappers-nie-moghut-byt-pomiechieny-atributom-code-typealias-code"><h2>Свойства, имеющие Property Wrappers, не могут быть помечены атрибутом <code>typealias</code></h2></a>
Пример <code>@UnitInterval</code> выше, свойство которого ограничено интервалом <code>(0...1)</code> не может быть объявлен как


<source lang="swift">typealias UnitInterval = Clamping(0...1) // Нельзя</source><anchor>oghranichieniie-na-ispol-zovaniie-kompozitsii-iz-nieskol-kikh-property-wrappers</anchor>
<a href="#oghranichieniie-na-ispol-zovaniie-kompozitsii-iz-nieskol-kikh-property-wrappers"><h2>Ограничение на использование композиции из нескольких Property Wrappers</h2></a>
Композиция Property Wrappers не коммутативная операция: на поведение будет влиять порядок объявления. Рассмотрим пример, в котором свойство slug представляющее собой url поста в блоге, нормализуется, и результат нормализации будет различаться в зависимости от того, когда пробелы будут заменены тире: до или после того, как будут удалены пробелы. Поэтому на данный момент композиция из нескольких Property Wrappers не поддерживается.


<source lang="swift">@propertyWrapper
struct Dasherized {
    private(set) var value: String = ""

    var wrappedValue: String {
        get { value }
        set { value = newValue.replacingOccurrences(of: " ", with: "-") }
    }

    init(initialValue: String) {
        self.wrappedValue = initialValue
    }
}

struct Post {
    …
    @Dasherized @Trimmed var slug: String // error: multiple property wrappers are not supported
}</source>
Однако это ограничение можно обойти, если использовать вложенные Property Wrappers


<source lang="swift">@propertyWrapper
struct TrimmedAndDasherized {
    @Dasherized
    private(set) var value: String = ""

    var wrappedValue: String {
        get { value }
        set { value = newValue.trimmingCharacters(in: .whitespacesAndNewlines) }
    }

    init(initialValue: String) {
        self.wrappedValue = initialValue
    }
}

struct Post {
    …
    @TrimmedAndDasherized var slug: String
}</source><anchor>drughiie-oghranichieniia-property-wrappers</anchor>
<a href="#drughiie-oghranichieniia-property-wrappers"><h2>Другие ограничения Property Wrappers</h2></a>
<ul>
<li>Нельзя использовать внутри протокола.</li>
<li>Экземпляр свойства с Property Wrapper не может быть объявлен в <code>enum</code>.</li>
<li>Свойство с Property Wrapper, объявленное внутри класса, не может быть переопределено другим свойством.</li>
<li>Свойство с Property Wrapper не может быть <code>lazy</code>, <code>@NSCopying</code>, <code>@NSManaged</code>, <code>weak</code> или <code>unowned</code>.</li>
<li>Свойство с Property Wrapper должно быть единственным в рамках своего определения (т.е. нельзя <code>@Lazy var (x, y) = /* ... */</code> ).</li>
<li>У свойство с Property Wrapper нельзя определить <code>getter</code> и <code>setter</code>.</li>
<li>Типы у свойства <code>wrappedValue</code> и у переменной <code>wrappedValue</code> в <code>init(wrappedValue:)</code> должны иметь тот же уровень доступа, что и тип Propery Wrapper’а.</li>
<li>Тип свойство <code>projectedValue</code> должен иметь тот же уровень доступа, что и тип Propery Wrapper’а.</li>
<li><code>init()</code> должен иметь тот же уровень доступа, что и тип Propery Wrapper’а.</li>
</ul>
Давайте подытожим: Property Wrappers в Swift предоставляют авторам библиотек доступ к высокоуровневому поведению ранее зарезервированному для языковых функций. Их потенциал для улучшения читаемости и уменьшения сложности кода огромен, и мы только поверхностно рассмотрели возможности этого инструмента.

<em>Используете ли вы Property Wrappers в своих проектах? Пишите в комментариях!</em>
